/* TODO: add hover darkness on all clickable elements*/
/* TODO: text shrinks, restricts length of task descrip */

/* themes */
.green{
  --text_color: black;
  --tooltip_background: rgba(0,0,0,0.8);
  --tooltip_textcolor: white;
  
  --background:#2C4430;
  --tab-background: #A2C1AE;

  --outline: #F2F8F4;
  --outline_select: #D8EBE0;

  --main_accent: #4B634C;
  --main_accent_light: #92A65F;

  
  --task1Color: #4E5A49;
  --task2Color: #62705C;
  --task3Color: #76876E;
}

.blue{
  --text_color: white;
  --tooltip_background: rgba(255,255,255,0.8);
  --tooltip_textcolor: black;

  --background:#1C1D2F;
  --tab-background: #2D3450;

  --outline: #C6C9CA;
  --outline_select: #B5B9BA;

  --main_accent: #324564;
  --main_accent_light: #48658D;

  --task1Color: #4E7FBC;
  --task2Color: #5F8CC3;
  --task3Color: #829DBC;
}

.pink{
  --text_color: black;
  --tooltip_background: rgba(0,0,0,0.8);
  --tooltip_textcolor: white;
  
  --background:#B86879;
  --tab-background: #CA8796;

  --outline: #F9F3F1;
  --outline_select: #EBE4E3;

  --main_accent: #D39CA9;
  --main_accent_light: #E59EAD;


  --task1Color: #EFC3CC;
  --task2Color: #DCABB6;
  --task3Color: #F8D9DE;
}

.purple{
  --text_color: white;
  --tooltip_background: rgba(255,255,255,0.8);
  --tooltip_textcolor: black;

  --background:#270041;
  --tab-background: #30004F;

  --outline: #DEB7FF;
  --outline_select: #A991AD;

  --main_accent: #764599;
  --main_accent_light: #A668DB;

  --task1Color: #745592;
  --task2Color: #8F72AC;
  --task3Color: #A38BBB;
}


body {
    width: 450px;
    height: 575px;
    font-family: 'Space Grotesk', sans-serif;
    background-color: var(--background);
    padding: 0px;
    color: var(--text_color)
  }

#main-background{
  background-color: var(--tab-background);
  width: 430px;
  height:540px;
  margin: 0px 10px 10px 10px;
  border-radius: 0px 25px 25px 25px;
  border: solid medium var(--outline_select);
}

.themeSelector{
  position: absolute;
  right: 30px;
  top: 8px;
  
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: -1px;
}

#themeButton{
  border-radius: 15px 15px 15px 15px;
  background-image: linear-gradient(to right, var(--task1Color), var(--task2Color), var(--task3Color));
  height: 30px;
  width: 65px;

  display: flex;
  justify-content: center;
  gap: 14px;
  align-items: center;
}

#options{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.25s linear;
  background-color: palevioletred;
  background-image: linear-gradient(to right, var(--task1Color), var(--task2Color), var(--task3Color));
  border-radius: 15px 0px 15px 15px;
  padding: 3px;
}

#options.show{
  visibility: visible;
  opacity: 1;
}

#displayTheme{
  pointer-events: none; 
  border: 2px solid var(--main_accent_light);
  border-radius: 100%;
  width: 19px;
  height: 19px;
  background-image: radial-gradient(circle at center, var(--background) 0, var(--tab-background) 100%);
}

.arrow{
  pointer-events: none;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.themeOption{
  appearance: none;
  border: 2px solid var(--main_accent_light);
  border-radius: 100%;
  width: 19px;
  height: 19px;
}

.themeOption:checked, .themeOption:hover{
  background-image: radial-gradient(circle at center, var(--background) 0, var(--tab-background) 100%);
}

label, input::placeholder{
  color: var(--outline);
}

.material-symbols-outlined{
  color: black;
  pointer-events: none; 
  user-select: none;
}

.tablinks .material-symbols-outlined{
  color: var(--text_color);
}
.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin: 15px 10px 3px -8px;
  }

.tab button {
    background-color: var(--tab-background);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 25% 25% 0% 0%;
    border: solid medium var(--outline_select);
    border-bottom: none;
    margin: -3px;
}
  
.tab button:hover {
    background-color: var(--outline);
}
  
.tab button.active {
    background-color: var(--outline);
    border: solid medium var(--outline_select);
    border-bottom: none;
    z-index: 100;
}
  
.tabcontent {
    display: none;
    padding: 6px 12px;
}

h3 {
    font-weight: 700;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 8px;
}



  #timeOfBlockContainter{
    background-color: var(--main_accent);
    border-radius: 10px;

    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    display: grid;
    grid-template-columns: 3fr 4fr 1fr 3fr;
    align-items: center;
    gap: 10px;
  }

  .timeInput, .timeTaskInpu, .timerDisplay{
    width: fit-content;
    color: black;
    display: flex;
    align-items: center;
    border-radius: 8px;
  }

  .timeInput,.timerDisplay{
    border: 3px solid var(--main_accent_light);
  }

  .timeTaskInput{
    border: 2px solid var(--main_accent_light);
  }

  .timeInput input, .timeTaskInput input, .timerDisplay .timerDisplayTime{
    border: none;
    box-sizing: border-box;
    padding: auto 15px;
    text-align: center;
    color: black;
    background: none;
    border-radius: 8px;
  }

  .timeInput input, .timerDisplay .timerDisplayTime{
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
  }

  .timeTaskInput input{
    width: 45px;
    height: 45px;
    font-size: 1.25rem;
  }

  .timeInput input:focus{
    outline: 4px solid var(--outline);
  }

  .timeTaskInput input:focus{
    outline: 3px solid var(--outline);
  }

  .timeInput label, .timeTaskInput label, .timerDisplayLabel{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-size: 13px;
  }

  .label{
    position:absolute;
    top: -9.5px;
    background: var(--main_accent)
  }

  #addTask, #timerButtons button{
    background: none;
    border: none;
  }


  .tooltip::before{
   content: "";
   width: 0;
   height: 0;
   border: 5px solid transparent;
   border-top-width: 0;
   border-bottom-color: var(--tooltip_background);
   display: none;
   position: absolute;
   transform: translateX(75%);
   margin-top: 23px
  }

  .tooltip::after{
    display: none;
    position: absolute;
    content: attr(data-tooltip);
    background: var(--tooltip_background);
    z-index: 100;
    transform: translateX(-40%);
    padding: 5px;
    border-radius: 4px;
    margin-top:0px;
    border: none;
  }

  .tooltip.disable:hover:before,
  .tooltip.disable:hover:after{
    display: block
  }

  /* TODO: ERROR  */
  .disable{
    color: var(--tooltip_textcolor);
  }
  
  .disable #addTaskIcon{
    color: rgb(121, 120, 120);
  }

  #instructions{
    background-color: var(--main_accent_light);
    font-weight: 400;
    font-size: 13px;
    padding: 3px;
  }

  #taskList{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
  }

  .draggable{
    cursor: move;
    
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px 8px 8px 3px;

    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    align-items: center;
    gap: 10px;
  }

  .draggable, #timeOfBlockContainter{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  }

  .draggable:hover{
   /* transform: translateY(-5px); */
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
  }

  .dragging {
    opacity: 0.5;
  }

  .taskDescrip{
    background: none;
    border: none;
    border-bottom: 2px solid var(--outline);
    outline: none;
    font-size: 1.25rem;
    font-family: 'Space Grotesk', sans-serif;
  }

  .taskDescrip:focus {
    border-bottom: 2px dashed var(--outline_select);
    transition: 0.3s;
  }

  .deleteTask{
    background: none;
    border: none;
  }

  .taskDescrip{
    box-sizing: border-box;
    width: 100%;
    height: 100%
  }

  [data-tasknum ="1"], #timeInput1 .label{
    background-color: var(--task1Color); 
  }

  [data-tasknum ="2"], #timeInput2 .label{
    background-color: var(--task2Color);

  }

  [data-tasknum ="3"], #timeInput3 .label{
    background-color: var(--task3Color);
  }
  
  .timeError{
    border: 2px solid rgb(255, 0, 0);
  }

  #progressBar.timeError{
    outline: 2px solid rgb(255, 0, 0);
    border: none;

  }
 
  #timeInputB.timeError{
    border: 3px solid rgb(255, 0, 0);
  }
  
#schedulingContainer{
  margin-top: 5px;
  position: absolute;
  bottom: 25px;
  width: 405px;

  display: flex;
  flex-direction: column;
  gap: 4px;
  }

#progressBar{
  background-color: var(--main_accent);
  overflow: hidden;
  outline: 2px solid var(--outline_select);
  outline-offset: 2px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 0fr 0fr 0fr;
}

#timeScheduled{
  align-self: flex-end;
  font-size: 14px;
}

.taskFraction{
  height: 50px;
}

/* Timer Page*/

#timerFlex{
display: flex;
flex-direction: column;
align-items: center;
height: 520px;
gap: 15px;
margin-top: 10px;

/* background-color: #4E5A49; */
}

#timerContainer{
background-color: #30004F;
display: flex;

position: relative;
}

#timerContainer[data-taskconfig="1"],
#timerContainer[data-taskconfig="2"]{
margin-top: 15px;
height: 250px;
}

#timerContainer[data-taskconfig="3"]{
height: 125px;
}

#taskTimerContainer{
/* background-color: purple; */
position: relative;
}

#taskTimerContainer[data-taskconfig="1"], 
#taskTimerContainer[data-taskconfig="2"]{ 
bottom: -15px;
}

#taskTimerContainer[data-taskconfig="3"]{ 
bottom: -50px;
}

#taskBorder{
width: 100%;
padding: 5px;
display: flex;
flex-direction: column;
gap: 10px;
border: 3px solid palevioletred;
}

#timerButtons button i{
color: pink;
}

svg{
  display: block;
  stroke: var(--outline_select);
  fill: none;
  width: 400px;
  padding: 0;
  margin: 0;
}

#taskBox2-2{
margin-top: -137px;
}

#taskBox1-3{
margin-top: -65px;
}
#taskBox2-3{
margin-top: -150px;
}

#taskBox3-3{
margin-top: -125px;
}

